.main
{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #5f5c5c;
}

.main .nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav button
{
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
    background-color: #9e9f9f;
    cursor: pointer;
    transition: all 0.4s ease;
}

.main .nav button:hover
{
    background-color: #b8bbbb;
    scale: 1.04;
}

.main .nav p
{
    color: #c4c7c5;
    font-size: xx-large;
}

.main-container
{
    max-width: 900px;
    margin: auto;
}

.main .greet
{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span
{
    background: -webkit-linear-gradient(16deg, #4b90ff, #46ff71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-bottom
{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box
{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #9e9f9f;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img
{
    width: 24px;
    cursor: pointer;
}

.search-box input
{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.result
{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar
{
    display: none;
}

.chat-elements
{
    font-size: large;
    font-weight: bold;
    padding: 8px;
    margin: 8px;
}

.result-data .chat-elements
{
    font-size: large;
    font-weight: bold;
    padding: 8px;
    margin: 8px;
}

.loader
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr
{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #526f83, #508d4e, #526f83);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader 
{
    0%
    {
        background-position: -800px 0px;
    }
    100%
    {
        background-position: 800px 0px;
    }    
}

.result-data p
{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}