.sidebar
{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4a4a4a;
    padding: 25px 15px;
}

.sidebar img
{
    width: 20px;
}

.sidebar .bottom img
{
    width: 30px;
    border-radius: 50%;
}

.sidebar .menu
{
    display: block;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.sidebar .menu:hover
{
    scale: 1.4;
}

.sidebar .new-chat
{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #97999b;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    transition: all 0.4s ease;
}

.sidebar .new-chat p
{
    color: #111111;
}

.sidebar .new-chat:hover
{
    scale: 1.05;
}

.sidebar .recent
{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.3s;
}

.sidebar .recent-title
{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;
}

.sidebar .recent-entry
{
    display: flex;
    align-items: start;
    margin: 8px;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    transition: all 0.4s ease;
}

.sidebar .recent-entry p
{
    color: #111111;
    font-size: large;
}

.sidebar .recent-entry:hover
{
    background-color: #e2e6eb;   
}

.sidebar .bottom
{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item
{
    padding-right: 10px;
    cursor: pointer;
}