body 
{
    background-color: #121212; /* Dark background for the whole page */
    color: #ffffff; /* Default white text color for contrast */
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0; 
}

.profile-main {
    height: 100vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
  
.profile-container-wrapper {
  position: relative;
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Make sure it's behind the login form */
}

.user-profile {
    max-width: 600px; 
    width: 100%;
    margin: 40px auto; 
    padding: 20px;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-color: #1e1e1e; /* Darker gray background for the profile card */
    border-radius: 10px; 
    box-shadow: 0 0 40px rgba(31, 111, 234,  0.1);
    border: 1px solid rgb(47, 47, 47);
    transition: all ease 0.4s, box-shadow 0.3s ease-in-out;
}

.user-profile:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 0 40px rgba(31, 111, 234,  0.2); /* Deeper shadow on hover */
}

.user-profile h1 {
    text-align: center; 
    font-size: 2em; 
    margin-bottom: 20px; 
}

.profile-picture {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    
}

.profile-picture img {
    border-radius: 50%; 
    width: 150px; 
    height: 150px; 
    border: 3px solid #00bfff; 
}

.profile-details {
    text-align: center;
    margin: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.profile-details label {
    gap: 10px;
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
}

.profile-details span {
    margin-left: 10px;
    font-family: monospace;
    font-size: large;
}

.profile-details input {
    width: calc(100% - 10px); /* Full width minus padding */
    padding: 10px;
    border-radius: 5px; 
    border: none; 
    background-color: #333333; 
    color: #ffffff; 
    transition: background-color 0.3s ease; 
}

.profile-details input::placeholder {
    color: #aaaaaa; 
}

.profile-details input:hover,
.profile-details input:focus {
    background-color: #444444; 
}

.save-edit {
    width: 100%; 
    padding: 10px;
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.save-edit:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

.back-button {
    background-color: #4892e1;
    color: white;
    border: none;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px; 
    font-weight: bold;
    cursor: pointer;
    font-size: 23px;
    text-align: center;
    aspect-ratio: 1 / 1; /* Ensures equal width and height for a perfect circle */
    transition: all 0.4s ease;
}

.back-button:hover {
    scale: 1.2;
}

.editing-email {
    color:#7d7878;
}

.email-label {
    padding: 8px;
}